.navbar-custom {
    background-color: darkolivegreen;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link
{
    color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.navbar-custom .nav-link.active {
    color: gainsboro;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: white;
}
